//colors
$color_atlantis_approx: #9c3;
$color_martinique_approx: #2f3254;
$color_mercury_approx: #e6e6e6;
$color_wild_sand_approx: #f5f5f5;
$white: white;
$black_25: rgba(0,0,0,0.25);
$color_mine_shaft_approx: #333;
$color_mountain_mist_approx: #999;
$color_silver_approx: #bfbfbf;
$color_storm_dust_approx: #666;

//fonts
$font_0: Roboto;
$font_1: sans-serif;

//urls
$url_0: url(../img/testio-black.png);

//@extend-elements
//original selectors
//html, body
%extend_1 {
  height: 100vh;
  font-family: $font_0, $font_1;
  margin: 0;
  padding: 0;
}


html {
  @extend %extend_1;
}
body {
  @extend %extend_1;
}
a {
  color: $color_atlantis_approx;
  &:hover {
    color: $color_atlantis_approx;
  }
  &:link {
    color: $color_atlantis_approx;
  }
}
.issues-header {
  height: 15vh;
  top: 0;
  left: 0;
  background-image: $url_0;
  background-position: calc(7.5vh - 15px) center;
  background-size: auto 30px;
  background-repeat: no-repeat;
  .logout {
    padding-left: 26px;
    color: $color_martinique_approx;
    height: 16px;
    line-height: 16px;
    display: block;
    position: absolute;
    right: calc(7.5vh - 15px);
    top: calc(15vh/2 - 16px/2);
  }
}
.wrapper {
  height: 85vh;
  width: 100vw;
  position: absolute;
  top: 15vh;
  left: 0;
  border-top: 1px solid $color_mercury_approx;
  background: $color_wild_sand_approx;
  overflow-y: auto;
}
.content {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px;
  .header {
    height: 12vh;
    line-height: 12vh;
  }
}
.history-back {
  font-size: 13px;
  .glyphicon::before {
    content: "⮎";
  }
  .glyphicon {
    transform: scale(-1, 1);
    font-weight: bold;
  }
}
.issue-item {
  padding: 25px 35px;
  border-radius: 0.2em;
  background-color: $white;
  box-shadow: 0 1px 1px $black_25;
  margin-bottom: 20px;
  position: relative;
  .title {
    font-size: 30px;
    color: $color_mine_shaft_approx;
    line-height: 1.5em;
    margin-bottom: 20px;
    span {
      color: $color_mountain_mist_approx;
      margin-left: 20px;
    }
  }
  .info {
    color: $color_silver_approx;
  }
  .status {
    height: 28px;
    line-height: 28px;
    background: $color_atlantis_approx;
    color: $white;
    display: inline-block;
    padding: 0 12px 0 8px;
    border-radius: 0.2em;
    text-transform: uppercase;
    margin-right: 16px;
    font-size: 14px;
  }
}
.comment-item {
  border-radius: 0.2em;
  background-color: $white;
  box-shadow: 0 1px 1px $black_25;
  margin-bottom: 20px;
  margin-left: 84px;
  .head {
    height: 64px;
    line-height: 64px;
    position: relative;
    border-bottom: 1px solid $color_mercury_approx;
    padding: 0 20px;
    color: $color_silver_approx;
  }
  .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent $white transparent transparent;
    position: absolute;
    top: 22px;
    left: -9px;
  }
  .triangle-grey {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent $color_mercury_approx transparent transparent;
    position: absolute;
    top: 24px;
    left: -10px;
  }
  .photo {
    height: 64px;
    width: 64px;
    background-size: 64px auto;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 64px;
    position: absolute;
    left: -84px;
    top: 0;
  }
  .content {
    padding: 25px 30px;
    color: $color_storm_dust_approx;
    font-size: 13px;
  }
}
@media(max-width: 680px) {
  .issue-item .title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}