<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Testio</title>
    <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/src/css/home.css" rel="stylesheet">

</head>
<body>
    <div class="bg"></div>
    <div class="wrapper">
        <a class="button" href="/auth/login">Login With GitHub</a>
        <div class="logo"></div>
    </div>
</body>
</html>